/* #box{
    background-color:pink
}
.heading
{
    color:tan
}
button
{
    background-color:green
} */





/* p
{
font-family:Arial;
} */



#one
{
    font-size:25px;
}
#two
{
    font-size:20px;
}
#three
{
    font-size:15px;
}